icepacksprediction/IcepacksPrediction.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- 
	Generated by Universidad Politecnica de Madrid (UPM) - 2022.
-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.ai-arc.eu/datamodel/v1/icepacksprediction/" xmlns:icepackprediction="http://www.ai-arc.eu/datamodel/v1/icepacksprediction/">

	<xs:include schemaLocation="IceClassType.xsd"/>
	<xs:complexType name="IcepacksPrediction">
		<xs:annotation>
			<xs:documentation>This class allows the description of the meteorological oceanographic condition of a given Location.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
				<xs:sequence>
					<xs:element name="IceThickness" type="xs:double"  minOccurs="0" />
					<xs:element name="IceThicknessConfidence" type="xs:double"  minOccurs="0" />
					<xs:element name="IceClass" type="location:IceClassType"  minOccurs="0" />
					<xs:element name="OccurenceConfidence" type="xs:double"  minOccurs="0" />
					<xs:element name="PredictionTime" type="xs:dateTime" minOccurs="0" />
				</xs:sequence>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
