AIArcVessel.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- 
	Generated by Universidad Politecnica de Madrid (UPM) - 2023.   
-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" 
            elementFormDefault="qualified"
            xmlns:aiaves="https://raw.githubusercontent.com/AI-ARC/AIARC-Data-model-v1/main/AIArcVessel"
 			      targetNamespace="https://raw.githubusercontent.com/AI-ARC/AIARC-Data-model-v1/main/AIArcVessel">
  <!-- AIArcVessel -->
    <xs:complexType name="AIArcVessel">
      <xs:annotation>
        <xs:documentation>The class AIArcVessel is a new class defined by AI-ARC project.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
        <xs:element name="AIArcVesselType" type="aiaves:AIArcVesselDataType" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
    <!-- AIArcVesselDataType -->
    <xs:simpleType name="AIArcVesselDataType">
      <xs:annotation>
        <xs:documentation>This enumeration is defined by AI-ARC project and presents the different types of Vessel. This list is limited to general type of vessel. It could be detailed in further modeling activities.</xs:documentation>
      </xs:annotation>
      <xs:restriction base="xs:string">
        <xs:enumeration value="0" >
          <xs:annotation>
            <xs:documentation xml:lang="en">0. DESCRIPTION: Not avaible (default)</xs:documentation>
          </xs:annotation>
        </xs:enumeration>
        <xs:enumeration value="1" >
          <xs:annotation>
            <xs:documentation xml:lang="en">1-19. DESCRIPTION: Reserved for future use</xs:documentation>
          </xs:annotation>
        </xs:enumeration>
        <xs:enumeration value="2" >
          <xs:annotation>
            <xs:documentation xml:lang="en">1-19. DESCRIPTION: Reserved for future use</xs:documentation>
          </xs:annotation>
        </xs:enumeration>
        <xs:enumeration value="3" >
          <xs:annotation>
            <xs:documentation xml:lang="en">1-19. DESCRIPTION: Reserved for future use</xs:documentation>
          </xs:annotation>
        </xs:enumeration>
        <xs:enumeration value="4" >
          <xs:annotation>
            <xs:documentation xml:lang="en">1-19. DESCRIPTION: Reserved for future use</xs:documentation>
          </xs:annotation>
        </xs:enumeration>
        <xs:enumeration value="5" >
          <xs:annotation>
            <xs:documentation xml:lang="en">1-19. DESCRIPTION: Reserved for future use</xs:documentation>
          </xs:annotation>
        </xs:enumeration>
        <xs:enumeration value="6" >
          <xs:annotation>
            <xs:documentation xml:lang="en">1-19. DESCRIPTION: Reserved for future use</xs:documentation>
          </xs:annotation>
        </xs:enumeration>
        <xs:enumeration value="7" >
          <xs:annotation>
            <xs:documentation xml:lang="en">1-19. DESCRIPTION: Reserved for future use</xs:documentation>
          </xs:annotation>
        </xs:enumeration>
        <xs:enumeration value="8" >
          <xs:annotation>
            <xs:documentation xml:lang="en">1-19. DESCRIPTION: Reserved for future use</xs:documentation>
          </xs:annotation>
        </xs:enumeration>
        <xs:enumeration value="9" >
          <xs:annotation>
            <xs:documentation xml:lang="en">1-19. DESCRIPTION: Reserved for future use</xs:documentation>
          </xs:annotation>
        </xs:enumeration>
        <xs:enumeration value="10" >
          <xs:annotation>
            <xs:documentation xml:lang="en">1-19. DESCRIPTION: Reserved for future use</xs:documentation>
          </xs:annotation>
        </xs:enumeration>
        <xs:enumeration value="11" >
          <xs:annotation>
            <xs:documentation xml:lang="en">1-19. DESCRIPTION: Reserved for future use</xs:documentation>
          </xs:annotation>
        </xs:enumeration>
        <xs:enumeration value="12" >
          <xs:annotation>
            <xs:documentation xml:lang="en">1-19. DESCRIPTION: Reserved for future use</xs:documentation>
          </xs:annotation>
        </xs:enumeration>
        <xs:enumeration value="13" >
          <xs:annotation>
            <xs:documentation xml:lang="en">1-19. DESCRIPTION: Reserved for future use</xs:documentation>
          </xs:annotation>
        </xs:enumeration>
        <xs:enumeration value="14" >
          <xs:annotation>
            <xs:documentation xml:lang="en">1-19. DESCRIPTION: Reserved for future use</xs:documentation>
          </xs:annotation>
        </xs:enumeration>
        <xs:enumeration value="15" >
          <xs:annotation>
            <xs:documentation xml:lang="en">1-19. DESCRIPTION: Reserved for future use</xs:documentation>
          </xs:annotation>
        </xs:enumeration>
        <xs:enumeration value="16" >
          <xs:annotation>
            <xs:documentation xml:lang="en">1-19. DESCRIPTION: Reserved for future use</xs:documentation>
          </xs:annotation>
        </xs:enumeration>
        <xs:enumeration value="17" >
          <xs:annotation>
            <xs:documentation xml:lang="en">1-19. DESCRIPTION: Reserved for future use</xs:documentation>
          </xs:annotation>
        </xs:enumeration>
        <xs:enumeration value="18" >
          <xs:annotation>
            <xs:documentation xml:lang="en">1-19. DESCRIPTION: Reserved for future use</xs:documentation>
          </xs:annotation>
        </xs:enumeration>
        <xs:enumeration value="19" >
          <xs:annotation>
            <xs:documentation xml:lang="en">1-19. DESCRIPTION: Reserved for future use</xs:documentation>
          </xs:annotation>
        </xs:enumeration>
        <xs:enumeration value="20" >
          <xs:annotation>
            <xs:documentation xml:lang="en">20. DESCRIPTION: Wing in ground (WIG), all ships of this type</xs:documentation>
          </xs:annotation>
        </xs:enumeration>
        <xs:enumeration value="21" >
          <xs:annotation>
            <xs:documentation xml:lang="en">21. DESCRIPTION: Hazardous Category A</xs:documentation>
          </xs:annotation>
        </xs:enumeration>
        <xs:enumeration value="22" >
          <xs:annotation>
            <xs:documentation xml:lang="en">22 DESCRIPTION: Wing in ground (WIG), Hazarouds category B</xs:documentation>
          </xs:annotation>
        </xs:enumeration>
        <xs:enumeration value="23" >
          <xs:annotation>
            <xs:documentation xml:lang="en">23. DESCRIPTION: Wing in ground (WIG), Hazardous category C</xs:documentation>
          </xs:annotation>
        </xs:enumeration>
        <xs:enumeration value="24" >
          <xs:annotation>
            <xs:documentation xml:lang="en">24. DESCRIPTION: Wing in ground (WIG), Harzardous category D</xs:documentation>
          </xs:annotation>
        </xs:enumeration>
        <xs:enumeration value="25" >
          <xs:annotation>
            <xs:documentation xml:lang="en">25. DESCRIPTION: Wing in ground (WIG), Reserved for future use</xs:documentation>
          </xs:annotation>
        </xs:enumeration>
        <xs:enumeration value="26" >
          <xs:annotation>
            <xs:documentation xml:lang="en">26. DESCRIPTION: Wing in ground (WIG), Reserved for future use</xs:documentation>
          </xs:annotation>
        </xs:enumeration>
        <xs:enumeration value="27" >
          <xs:annotation>
            <xs:documentation xml:lang="en">27. DESCRIPTION: Wing in ground (WIG), Reserved for future use</xs:documentation>
          </xs:annotation>
        </xs:enumeration>
        <xs:enumeration value="28" >
          <xs:annotation>
            <xs:documentation xml:lang="en">28. DESCRIPTION: Wing in ground (WIG), Reserved for future use</xs:documentation>
          </xs:annotation>
        </xs:enumeration>
        <xs:enumeration value="29" >
          <xs:annotation>
            <xs:documentation xml:lang="en">29. DESCRIPTION: Wing in ground (WIG), Reserved for future use</xs:documentation>
          </xs:annotation>
        </xs:enumeration>
        <xs:enumeration value="30" >
          <xs:annotation>
            <xs:documentation xml:lang="en">30. DESCRIPTION: Fishing</xs:documentation>
          </xs:annotation>
        </xs:enumeration>
        <xs:enumeration value="31" >
          <xs:annotation>
            <xs:documentation xml:lang="en">31. DESCRIPTION: Towing</xs:documentation>
          </xs:annotation>
        </xs:enumeration>
        <xs:enumeration value="32" >
          <xs:annotation>
            <xs:documentation xml:lang="en">32. DESCRIPTION: Towing: length exceeds 200m or breadth exceeds 25m</xs:documentation>
          </xs:annotation>
        </xs:enumeration>
        <xs:enumeration value="33" >
          <xs:annotation>
            <xs:documentation xml:lang="en">33. DESCRIPTION: Dredging or underwater ops</xs:documentation>
          </xs:annotation>
        </xs:enumeration>
        <xs:enumeration value="34" >
          <xs:annotation>
            <xs:documentation xml:lang="en">34. DESCRIPTION: Divings ops</xs:documentation>
          </xs:annotation>
        </xs:enumeration>
        <xs:enumeration value="35" >
          <xs:annotation>
            <xs:documentation xml:lang="en">35. DESCRIPTION: Military ops</xs:documentation>
          </xs:annotation>
        </xs:enumeration>
        <xs:enumeration value="36" >
          <xs:annotation>
            <xs:documentation xml:lang="en">36. DESCRIPTION: Sailing</xs:documentation>
          </xs:annotation>
        </xs:enumeration>
        <xs:enumeration value="37" >
          <xs:annotation>
            <xs:documentation xml:lang="en">37. DESCRIPTION:Pleasure Craft</xs:documentation>
          </xs:annotation>
        </xs:enumeration>
        <xs:enumeration value="38" >
          <xs:annotation>
            <xs:documentation xml:lang="en">38. DESCRIPTION: Reserved</xs:documentation>
          </xs:annotation>
        </xs:enumeration>
        <xs:enumeration value="39" >
          <xs:annotation>
            <xs:documentation xml:lang="en">39. DESCRIPTION: Reserved</xs:documentation>
          </xs:annotation>
        </xs:enumeration>
        <xs:enumeration value="40" >
          <xs:annotation>
            <xs:documentation xml:lang="en">40. DESCRIPTION: High speed craft (HSC), all ships of this type</xs:documentation>
          </xs:annotation>
        </xs:enumeration>
        <xs:enumeration value="41" >
          <xs:annotation>
            <xs:documentation xml:lang="en">41. DESCRIPTION: High speed craft (HSC), Hazardous category A</xs:documentation>
          </xs:annotation>
        </xs:enumeration>
        <xs:enumeration value="42">
          <xs:annotation>
            <xs:documentation xml:lang="en">42. DESCRIPTION: High speed craft (HSC), Hazardous category B</xs:documentation>
          </xs:annotation>
        </xs:enumeration>	  
        <xs:enumeration value="43">
          <xs:annotation>
            <xs:documentation xml:lang="en">43. DESCRIPTION: High speed craft (HSC), Hazardous category C</xs:documentation>
          </xs:annotation>
        </xs:enumeration>
        <xs:enumeration value="44" >
          <xs:annotation>
            <xs:documentation xml:lang="en">44. DESCRIPTION: High speed craft (HSC), Hazardous category D</xs:documentation>
          </xs:annotation>
        </xs:enumeration>
        <xs:enumeration value="45" >
          <xs:annotation>
            <xs:documentation xml:lang="en">45. DESCRIPTION: High speed craft (HSC), Reserved for future use</xs:documentation>
          </xs:annotation>
        </xs:enumeration>
        <xs:enumeration value="46">
          <xs:annotation>
            <xs:documentation xml:lang="en">46. DESCRIPTION: High speed craft (HSC), Reserved for future use</xs:documentation>
          </xs:annotation>
        </xs:enumeration>	  
        <xs:enumeration value="47">
          <xs:annotation>
            <xs:documentation xml:lang="en">47. DESCRIPTION: High speed craft (HSC), Reserved for future use</xs:documentation>
          </xs:annotation>
        </xs:enumeration>
        <xs:enumeration value="48">
          <xs:annotation>
            <xs:documentation xml:lang="en">48. DESCRIPTION: High speed craft (HSC), Reserved for future use</xs:documentation>
          </xs:annotation>
        </xs:enumeration>
        <xs:enumeration value="49">
          <xs:annotation>
            <xs:documentation xml:lang="en">49. DESCRIPTION: High speed craft (HSC), No additional information</xs:documentation>
          </xs:annotation>
        </xs:enumeration>
        <xs:enumeration value="50">
          <xs:annotation>
            <xs:documentation xml:lang="en">50. DESCRIPTION: Pilot Vessel</xs:documentation>
          </xs:annotation>
        </xs:enumeration>	  
        <xs:enumeration value="51">
          <xs:annotation>
            <xs:documentation xml:lang="en">51. DESCRIPTION: Search and Rescue vessel</xs:documentation>
          </xs:annotation>
        </xs:enumeration>
        <xs:enumeration value="52">
          <xs:annotation>
            <xs:documentation xml:lang="en">52. DESCRIPTION: Tug</xs:documentation>
          </xs:annotation>
        </xs:enumeration>
        <xs:enumeration value="53">
          <xs:annotation>
            <xs:documentation xml:lang="en">53. DESCRIPTION: Port Tender</xs:documentation>
          </xs:annotation>
        </xs:enumeration>
        <xs:enumeration value="54">
          <xs:annotation>
            <xs:documentation xml:lang="en">54. DESCRIPTION: Anti-pollution equipment</xs:documentation>
          </xs:annotation>
        </xs:enumeration>	  
        <xs:enumeration value="55">
          <xs:annotation>
            <xs:documentation xml:lang="en">55. DESCRIPTION: Law Enforcement</xs:documentation>
          </xs:annotation>
        </xs:enumeration>
        <xs:enumeration value="56">
          <xs:annotation>
            <xs:documentation xml:lang="en">56. DESCRIPTION: Spare - Local Vessel</xs:documentation>
          </xs:annotation>
        </xs:enumeration>
        <xs:enumeration value="57">
          <xs:annotation>
            <xs:documentation xml:lang="en">57. DESCRIPTION: Spare - Local Vessel</xs:documentation>
          </xs:annotation>
        </xs:enumeration>
        <xs:enumeration value="58">
          <xs:annotation>
            <xs:documentation xml:lang="en">58. DESCRIPTION: Medical Transport</xs:documentation>
          </xs:annotation>
        </xs:enumeration>	  
        <xs:enumeration value="59">
          <xs:annotation>
            <xs:documentation xml:lang="en">59. DESCRIPTION: Noncombatant ship according to RR Resolution No. 18</xs:documentation>
          </xs:annotation>
        </xs:enumeration>
        <xs:enumeration value="60">
          <xs:annotation>
            <xs:documentation xml:lang="en">60. DESCRIPTION: Passenger, all ships of this type</xs:documentation>
          </xs:annotation>
        </xs:enumeration>
        <xs:enumeration value="61">
          <xs:annotation>
            <xs:documentation xml:lang="en">61. DESCRIPTION: Passenger, Hazardous category A</xs:documentation>
          </xs:annotation>
        </xs:enumeration>
        <xs:enumeration value="62">
          <xs:annotation>
            <xs:documentation xml:lang="en">62. DESCRIPTION: Passenger, Hazardous category B</xs:documentation>
          </xs:annotation>
        </xs:enumeration>	  
        <xs:enumeration value="63">
          <xs:annotation>
            <xs:documentation xml:lang="en">63. DESCRIPTION: Passenger, Hazardous category C</xs:documentation>
          </xs:annotation>
        </xs:enumeration>
        <xs:enumeration value="64">
          <xs:annotation>
            <xs:documentation xml:lang="en">64. DESCRIPTION: Passenger, Hazardous category D</xs:documentation>
          </xs:annotation>
        </xs:enumeration>
        <xs:enumeration value="65">
          <xs:annotation>
            <xs:documentation xml:lang="en">65. DESCRIPTION: Passenger, Reserved for future use</xs:documentation>
          </xs:annotation>
        </xs:enumeration>
        <xs:enumeration value="66">
          <xs:annotation>
            <xs:documentation xml:lang="en">66. DESCRIPTION: Passenger, Reserved for future use</xs:documentation>
          </xs:annotation>
        </xs:enumeration>	  
        <xs:enumeration value="67">
          <xs:annotation>
            <xs:documentation xml:lang="en">67. DESCRIPTION: Passenger, Reserved for future use</xs:documentation>
          </xs:annotation>
        </xs:enumeration>
        <xs:enumeration value="68">
          <xs:annotation>
            <xs:documentation xml:lang="en">68. DESCRIPTION: Passenger, Reserved for future use</xs:documentation>
          </xs:annotation>
        </xs:enumeration>
        <xs:enumeration value="69">
          <xs:annotation>
            <xs:documentation xml:lang="en">69. DESCRIPTION: Passenger, No additional information</xs:documentation>
          </xs:annotation>
        </xs:enumeration>
        <xs:enumeration value="70">
          <xs:annotation>
            <xs:documentation xml:lang="en">70. DESCRIPTION: Cargo, all ships of this type</xs:documentation>
          </xs:annotation>
        </xs:enumeration>	  
        <xs:enumeration value="71">
          <xs:annotation>
            <xs:documentation xml:lang="en">71. DESCRIPTION: Cargo, Hazardous category A</xs:documentation>
          </xs:annotation>
        </xs:enumeration>
        <xs:enumeration value="72">
          <xs:annotation>
            <xs:documentation xml:lang="en">72. DESCRIPTION: Cargo, Hazardous category B</xs:documentation>
          </xs:annotation>
        </xs:enumeration>
        <xs:enumeration value="73">
          <xs:annotation>
            <xs:documentation xml:lang="en">73. DESCRIPTION: Cargo, Hazardous category C</xs:documentation>
          </xs:annotation>
        </xs:enumeration>
        <xs:enumeration value="74">
          <xs:annotation>
            <xs:documentation xml:lang="en">74. DESCRIPTION: Cargo, Hazardous category D</xs:documentation>
          </xs:annotation>
        </xs:enumeration>	  
        <xs:enumeration value="75">
          <xs:annotation>
            <xs:documentation xml:lang="en">75. DESCRIPTION: Cargo, Reserved for future use</xs:documentation>
          </xs:annotation>
        </xs:enumeration>
        <xs:enumeration value="76">
          <xs:annotation>
            <xs:documentation xml:lang="en">76. DESCRIPTION: Cargo, Reserved for future use</xs:documentation>
          </xs:annotation>
        </xs:enumeration>
        <xs:enumeration value="77">
          <xs:annotation>
            <xs:documentation xml:lang="en">77. DESCRIPTION: Cargo, Reserved for future use</xs:documentation>
          </xs:annotation>
        </xs:enumeration>
        <xs:enumeration value="78">
          <xs:annotation>
            <xs:documentation xml:lang="en">78. DESCRIPTION: Cargo, Reserved for future use</xs:documentation>
          </xs:annotation>
        </xs:enumeration>	  
        <xs:enumeration value="79">
          <xs:annotation>
            <xs:documentation xml:lang="en">79. DESCRIPTION: Cargo, No additional information</xs:documentation>
          </xs:annotation>
        </xs:enumeration>
        <xs:enumeration value="80">
          <xs:annotation>
            <xs:documentation xml:lang="en">80. DESCRIPTION: Tanker, all ships of this type</xs:documentation>
          </xs:annotation>
        </xs:enumeration>
        <xs:enumeration value="81">
          <xs:annotation>
            <xs:documentation xml:lang="en">81. DESCRIPTION: Tanker, Hazardous category A</xs:documentation>
          </xs:annotation>
        </xs:enumeration>
        <xs:enumeration value="82">
          <xs:annotation>
            <xs:documentation xml:lang="en">82. DESCRIPTION: Tanker, Hazardous category B</xs:documentation>
          </xs:annotation>
        </xs:enumeration>
        <xs:enumeration value="83">
          <xs:annotation>
            <xs:documentation xml:lang="en">83. DESCRIPTION: Tanker, Hazardous category C</xs:documentation>
          </xs:annotation>
        </xs:enumeration>
        <xs:enumeration value="84">
          <xs:annotation>
            <xs:documentation xml:lang="en">84. DESCRIPTION: Tanker, Hazardous category D</xs:documentation>
          </xs:annotation>
        </xs:enumeration>
        <xs:enumeration value="85">
          <xs:annotation>
            <xs:documentation xml:lang="en">85. DESCRIPTION: Tanker, Reserved for future use</xs:documentation>
          </xs:annotation>
        </xs:enumeration>
        <xs:enumeration value="86">
          <xs:annotation>
            <xs:documentation xml:lang="en">86. DESCRIPTION: Tanker, Reserved for future use</xs:documentation>
          </xs:annotation>
        </xs:enumeration>
        <xs:enumeration value="87">
          <xs:annotation>
            <xs:documentation xml:lang="en">87. DESCRIPTION: Tanker, Reserved for future use</xs:documentation>
          </xs:annotation>
        </xs:enumeration>
        <xs:enumeration value="88">
          <xs:annotation>
            <xs:documentation xml:lang="en">88. DESCRIPTION: Tanker, Reserved for future use</xs:documentation>
          </xs:annotation>
        </xs:enumeration>
        <xs:enumeration value="89">
          <xs:annotation>
            <xs:documentation xml:lang="en">89. DESCRIPTION: Tanker, No additional information</xs:documentation>
          </xs:annotation>
        </xs:enumeration>
        <xs:enumeration value="90">
          <xs:annotation>
            <xs:documentation xml:lang="en">90. DESCRIPTION: Other Type, all ships of this type</xs:documentation>
          </xs:annotation>
        </xs:enumeration>
        <xs:enumeration value="91">
          <xs:annotation>
            <xs:documentation xml:lang="en">91. DESCRIPTION: Other Type, Hazardous category A</xs:documentation>
          </xs:annotation>
        </xs:enumeration>
        <xs:enumeration value="92">
          <xs:annotation>
            <xs:documentation xml:lang="en">92. DESCRIPTION: Other Type, Hazardous category B</xs:documentation>
          </xs:annotation>
        </xs:enumeration>
        <xs:enumeration value="93">
          <xs:annotation>
            <xs:documentation xml:lang="en">93. DESCRIPTION: Other Type, Hazardous category C</xs:documentation>
          </xs:annotation>
        </xs:enumeration>
        <xs:enumeration value="94">
          <xs:annotation>
            <xs:documentation xml:lang="en">94. DESCRIPTION: Other Type, Hazardous category D</xs:documentation>
          </xs:annotation>
        </xs:enumeration>
        <xs:enumeration value="95">
          <xs:annotation>
            <xs:documentation xml:lang="en">95. DESCRIPTION: Other Type, Reserved for future use</xs:documentation>
          </xs:annotation>
        </xs:enumeration>
        <xs:enumeration value="96">
          <xs:annotation>
            <xs:documentation xml:lang="en">96. DESCRIPTION: Other Type, Reserved for future use</xs:documentation>
          </xs:annotation>
        </xs:enumeration>
        <xs:enumeration value="97">
          <xs:annotation>
            <xs:documentation xml:lang="en">97. DESCRIPTION: Other Type, Reserved for future use</xs:documentation>
          </xs:annotation>
        </xs:enumeration>
        <xs:enumeration value="98">
          <xs:annotation>
            <xs:documentation xml:lang="en">98. DESCRIPTION: Other Type, Reserved for future use</xs:documentation>
          </xs:annotation>
        </xs:enumeration>
        <xs:enumeration value="99">
          <xs:annotation>
            <xs:documentation xml:lang="en">99. DESCRIPTION: Other Type, no additional information</xs:documentation>
          </xs:annotation>
        </xs:enumeration>
      </xs:restriction>
    </xs:simpleType>
</xs:schema>