AIARC_datamodel.xsd

<!-- 
	Generated by Universidad Politecnica de Madrid (UPM) - 2023. 
-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" 
            xmlns:dtm="https://raw.githubusercontent.com/AI-ARC/AIARC-Data-model-v1/main/DataModel"
            targetNamespace="https://raw.githubusercontent.com/AI-ARC/AIARC-Data-model-v1/main/DataModel"
            xmlns:anom="https://raw.githubusercontent.com/AI-ARC/AIARC-Data-model-v1/main/AnomalyPrediction"
            xmlns:ice="https://raw.githubusercontent.com/AI-ARC/AIARC-Data-model-v1/main/IcepacksPrediction"
            xmlns:ves="https://raw.githubusercontent.com/AI-ARC/AIARC-Data-model-v1/main/VesselPrediction"
            xmlns:sur="https://raw.githubusercontent.com/AI-ARC/AIARC-Data-model-v1/main/Surveillance"
            xmlns:rel="https://raw.githubusercontent.com/AI-ARC/AIARC-Data-model-v1/main/Reliability"
            xmlns:aiaves="https://raw.githubusercontent.com/AI-ARC/AIARC-Data-model-v1/main/AIArcVessel"
            >
            <xs:import namespace="https://raw.githubusercontent.com/AI-ARC/AIARC-Data-model-v1/main/AnomalyPrediction" schemaLocation="AnomalyPrediction.xsd" />
            <xs:import namespace="https://raw.githubusercontent.com/AI-ARC/AIARC-Data-model-v1/main/IcepacksPrediction" schemaLocation="IcepacksPrediction.xsd" />
            <xs:import namespace="https://raw.githubusercontent.com/AI-ARC/AIARC-Data-model-v1/main/VesselPrediction" schemaLocation="VesselPrediction.xsd" />
            <xs:import namespace="https://raw.githubusercontent.com/AI-ARC/AIARC-Data-model-v1/main/Surveillance" schemaLocation="Surveillance.xsd" />
            <xs:import namespace="https://raw.githubusercontent.com/AI-ARC/AIARC-Data-model-v1/main/Reliability" schemaLocation="Reliability.xsd" />         
            <xs:import namespace="https://raw.githubusercontent.com/AI-ARC/AIARC-Data-model-v1/main/AIArcVessel" schemaLocation="AIArcVessel.xsd" />
  <xs:element name="datamodel" type="dtm:AIARC_DataModel">
    <xs:annotation>
      <xs:documentation source="version">1.0</xs:documentation>
    </xs:annotation>
  </xs:element>
    <xs:complexType name="AIARC_DataModel">
    <xs:annotation>
      <xs:documentation source="version">1.0</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="AnomalyPredictionClass" type="anom:AnomalyPrediction" minOccurs="0">
        <xs:annotation>
          <xs:documentation source="description">Anomaly Prediction class defined in AI-ARC project.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="IcepacksPredictionClass" type="ice:IcepacksPrediction" minOccurs="0">
        <xs:annotation>
          <xs:documentation source="description">Icepacks Prediction class defined in AI-ARC project.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="VesselPredictionClass" type="ves:VesselPrediction" minOccurs="0">
        <xs:annotation>
          <xs:documentation source="description">Vessel Prediction class defined in AI-ARC project.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="SurveillanceClass" type="sur:Surveillance" minOccurs="0">
        <xs:annotation>
          <xs:documentation source="description">Surveillance class defined in AI-ARC project.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ReliabilityClass" type="rel:Reliability" minOccurs="0">
        <xs:annotation>
          <xs:documentation source="description">Reliability class defined in AI-ARC project.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="AIArcVesselClass" type="aiaves:AIArcVessel" minOccurs="0">
        <xs:annotation>
          <xs:documentation source="description">AIArcVessel class defined in AI-ARC project.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>