AnomalyIndication.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- 
	Generated by Universidad Politecnica de Madrid (UPM) - 2023.   
-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" 
            elementFormDefault="qualified"
            xmlns:anomindication="https://raw.githubusercontent.com/AI-ARC/AIARC-Data-model-v1/main/AnomalyIndication"
 			      targetNamespace="https://raw.githubusercontent.com/AI-ARC/AIARC-Data-model-v1/main/AnomalyIndication">
    <!-- AnomalyIndication -->
    <xs:complexType name="AnomalyIndication">
      <xs:annotation>
        <xs:documentation>The class AnomalyIndication is a new class defined by AI-ARC project.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
        <xs:element name="IndicationType" type="xs:string" minOccurs="0"/>
        <xs:element name="IndicationValue" type="xs:string" minOccurs="0"/>
        <xs:element name="Explanation" type="xs:string" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
</xs:schema>