AnomalyPrediction.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- 
	Generated by Universidad Politecnica de Madrid (UPM) - 2023.   
-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" 
            elementFormDefault="qualified"
            xmlns:anom="https://raw.githubusercontent.com/lisshernandez/DMTest/main/AnomalyPrediction"
 			      targetNamespace="https://raw.githubusercontent.com/lisshernandez/DMTest/main/AnomalyPrediction">
    <!-- AnomalyPrediction -->
    <xs:complexType name="AnomalyPrediction">
      <xs:annotation>
        <xs:documentation>The class AnomalyPrediction is a new class defined by AI-ARC project.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
        <xs:element name="AIArcAnomaly" type="anom:AIArcAnomalyType" minOccurs="0"/>
        <xs:element name="AnomalyScore" type="xs:double" minOccurs="0"/>
        <xs:element name="Explanation" type="xs:string" minOccurs="0"/>
        <xs:element name="PriorityLevel" type="anom:PriorityLevelType" minOccurs="0"/>
        <xs:element name="Confidence" type="anom:ConfidenceType" minOccurs="0"/>
        <xs:element name="SourceReliabilityLevel" type="anom:SourceReliabilityLevelType" minOccurs="0"/>
        <xs:element name="PossibleIntents" type="anom:PossibleIntentsType" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
    <!-- AIArcAnomalyType -->
    <xs:simpleType name="AIArcAnomalyType">
      <xs:annotation>
        <xs:documentation>Specific maritime anomaly type to fit use cases of the AI-ARC project.</xs:documentation>
      </xs:annotation>
      <xs:restriction base="xs:string">
        <xs:enumeration value="KinematicAnomaly">
			    <xs:annotation>
				    <xs:documentation xml:lang="en">kinematic anomaly. DESCRIPTION: Kinematic anomaly</xs:documentation>
			    </xs:annotation>
		    </xs:enumeration>
        <xs:enumeration value="MovementPatternAnomaly">
          <xs:annotation>
            <xs:documentation xml:lang="en">movement pattern anomaly. DESCRIPTION: Movement pattern anomaly</xs:documentation>
          </xs:annotation>
        </xs:enumeration>
        <xs:enumeration value="UnusualPathAnomaly">
          <xs:annotation>
            <xs:documentation xml:lang="en">unusual path anomaly. DESCRIPTION: Unusual path anomaly</xs:documentation>
          </xs:annotation>
        </xs:enumeration>
            <xs:enumeration value="MeetingAnomaly">
          <xs:annotation>
            <xs:documentation xml:lang="en">meeting anomaly. DESCRIPTION: Meeting anomaly</xs:documentation>
          </xs:annotation>
        </xs:enumeration>
            <xs:enumeration value="DataInconsistencyAnomaly">
          <xs:annotation>
            <xs:documentation xml:lang="en">data inconsistency anomaly. DESCRIPTION: Data inconsistency anomaly</xs:documentation>
          </xs:annotation>
        </xs:enumeration>
            <xs:enumeration value="ShipHistoryAnomaly">
          <xs:annotation>
            <xs:documentation xml:lang="en">ship history anomaly. DESCRIPTION: Ship history anomaly</xs:documentation>
          </xs:annotation>
        </xs:enumeration>
            <xs:enumeration value="Intent">
          <xs:annotation>
            <xs:documentation xml:lang="en">intent. DESCRIPTION: Intent</xs:documentation>
          </xs:annotation>
        </xs:enumeration>	
	    </xs:restriction>
    </xs:simpleType>
    <!-- PriorityLevelType -->
    <xs:simpleType name="PriorityLevelType">
      <xs:annotation>
        <xs:documentation>The qualitative level of priority associated with the incident, anomaly, or risk defined by the AI-ARC project.</xs:documentation>
      </xs:annotation>
      <xs:restriction base="xs:string">
        <xs:enumeration value="VeryHigh">
          <xs:annotation>
            <xs:documentation xml:lang="en">very high. DESCRIPTION: Very high</xs:documentation>
          </xs:annotation>
        </xs:enumeration>
        <xs:enumeration value="High">
          <xs:annotation>
            <xs:documentation xml:lang="en">high. DESCRIPTION: High</xs:documentation>
          </xs:annotation>
        </xs:enumeration>
        <xs:enumeration value="Medium">
          <xs:annotation>
            <xs:documentation xml:lang="en">medium. DESCRIPTION: Medium</xs:documentation>
          </xs:annotation>
        </xs:enumeration>
        <xs:enumeration value="Low">
          <xs:annotation>
            <xs:documentation xml:lang="en">low. DESCRIPTION: Low</xs:documentation>
          </xs:annotation>
        </xs:enumeration>
        <xs:enumeration value="VeryLow">
          <xs:annotation>
            <xs:documentation xml:lang="en">very low. DESCRIPTION: Very low</xs:documentation>
          </xs:annotation>
        </xs:enumeration>
        <xs:enumeration value="Other">
          <xs:annotation>
            <xs:documentation xml:lang="en">other. DESCRIPTION: Other</xs:documentation>
          </xs:annotation>
        </xs:enumeration>	
      </xs:restriction>
    </xs:simpleType>
  <!-- ConfidenceType -->
    <xs:simpleType name="ConfidenceType">
      <xs:annotation>
        <xs:documentation>Probability of confidence value for Anomalies, Risk or Incidents. The values are the same as Credibility in the Admiralty Code system used by military forces.</xs:documentation>
      </xs:annotation>
      <xs:restriction base="xs:string">
        <xs:enumeration value="1-ConfirmedByOtherSources">
          <xs:annotation>
            <xs:documentation xml:lang="en">1-confirmed by other sources. DESCRIPTION: 1-Confirmed by other sources</xs:documentation>
          </xs:annotation>
        </xs:enumeration>
        <xs:enumeration value="2-ProbablyTrue">
          <xs:annotation>
            <xs:documentation xml:lang="en">2-probably true. DESCRIPTION: 2-Probably true</xs:documentation>
          </xs:annotation>
        </xs:enumeration>
        <xs:enumeration value="3-PossiblyTrue">
          <xs:annotation>
            <xs:documentation xml:lang="en">3-possibly true. DESCRIPTION: 3-Possibly true</xs:documentation>
          </xs:annotation>
        </xs:enumeration>
        <xs:enumeration value="4-Doubtful">
          <xs:annotation>
            <xs:documentation xml:lang="en">4-doubtful. DESCRIPTION: 4-Doubtful</xs:documentation>
          </xs:annotation>
        </xs:enumeration>
        <xs:enumeration value="5-Improbable">
          <xs:annotation>
            <xs:documentation xml:lang="en">5-improbable. DESCRIPTION: 5-Improbable</xs:documentation>
          </xs:annotation>
        </xs:enumeration>
        <xs:enumeration value="6-TruthCannotBeJudged">
          <xs:annotation>
            <xs:documentation xml:lang="en">6-truth cannot be judged. DESCRIPTION: 6-Truth cannot be judged</xs:documentation>
          </xs:annotation>
        </xs:enumeration>	
      </xs:restriction>
    </xs:simpleType>
  <!-- SourceReliabilityLevelType -->
    <xs:simpleType name="SourceReliabilityLevelType">
      <xs:annotation>
        <xs:documentation>This enumeration provides a quantitative evaluation of the reliability level of the information that is provided. The values are the same as the Reliability in the Admiralty Code system used by military forces.</xs:documentation>
      </xs:annotation>
      <xs:restriction base="xs:string">
        <xs:enumeration value="A-CompletelyReliable">
          <xs:annotation>
            <xs:documentation xml:lang="en">A-completely reliable. DESCRIPTION: A-Completely reliable</xs:documentation>
          </xs:annotation>
        </xs:enumeration>
        <xs:enumeration value="B-UsuallyReliable">
          <xs:annotation>
            <xs:documentation xml:lang="en">B-usually reliable. DESCRIPTION: B-Usually reliable</xs:documentation>
          </xs:annotation>
        </xs:enumeration>
        <xs:enumeration value="C-FairlyReliable">
          <xs:annotation>
            <xs:documentation xml:lang="en">C-fairly reliable. DESCRIPTION: C-Fairly reliable</xs:documentation>
          </xs:annotation>
        </xs:enumeration>
        <xs:enumeration value="D-NotUsuallyReliable">
          <xs:annotation>
            <xs:documentation xml:lang="en">D-not usually reliable. DESCRIPTION: D-Not usually reliable</xs:documentation>
          </xs:annotation>
        </xs:enumeration>
        <xs:enumeration value="E-Unreliable">
          <xs:annotation>
            <xs:documentation xml:lang="en">E-unreliable. DESCRIPTION: E-Unreliable</xs:documentation>
          </xs:annotation>
        </xs:enumeration>
        <xs:enumeration value="F-ReliabilityCannotBeJudged">
          <xs:annotation>
            <xs:documentation xml:lang="en">F-reliability cannot be judged. DESCRIPTION: F-Reliability cannot be judged</xs:documentation>
          </xs:annotation>
        </xs:enumeration>	
      </xs:restriction>
    </xs:simpleType>
  <!-- PossibleIntentsType -->
    <xs:complexType name="PossibleIntentsType">
	    <xs:annotation>
		    <xs:documentation>List of IntentRecord.</xs:documentation>
	    </xs:annotation>
	    <xs:sequence>
        <xs:element name="IntentRecord" type="anom:IntentRecordType" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  <!-- IntentRecordType -->
  <xs:complexType name="IntentRecordType">
      <xs:annotation>
        <xs:documentation>The IntentRecordType is a new datatype defined by AI-ARC project for the Anomaly Prediction service.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
        <xs:element name="IntentType" type="anom:IntentDataType" minOccurs="0"/>
        <xs:element name="IntentProbability" type="xs:double" minOccurs="0"/>
        <xs:element name="IntentExplanation" type="xs:string" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  <!-- IntentDataType -->
    <xs:simpleType name="IntentDataType">
	    <xs:annotation>
		    <xs:documentation>...</xs:documentation>
	    </xs:annotation>
      <xs:restriction base="xs:string">
        <xs:enumeration value="Smuggling">
          <xs:annotation>
            <xs:documentation xml:lang="en">smuggling. DESCRIPTION: Smuggling</xs:documentation>
          </xs:annotation>
        </xs:enumeration>
        <xs:enumeration value="FishingCrime">
          <xs:annotation>
            <xs:documentation xml:lang="en">fishing crime. DESCRIPTION: Fishing crime</xs:documentation>
          </xs:annotation>
        </xs:enumeration>
        <xs:enumeration value="EnvironmentalCrime">
          <xs:annotation>
            <xs:documentation xml:lang="en">environmental crime. DESCRIPTION: Environmental crime</xs:documentation>
          </xs:annotation>
        </xs:enumeration>
        <xs:enumeration value="InfrastructureThreat">
          <xs:annotation>
            <xs:documentation xml:lang="en">infrastructure threat. DESCRIPTION: Infrastructure threat</xs:documentation>
          </xs:annotation>
        </xs:enumeration>
        <xs:enumeration value="NonMalicious">
          <xs:annotation>
            <xs:documentation xml:lang="en">non malicious. DESCRIPTION: Non malicious</xs:documentation>
          </xs:annotation>
        </xs:enumeration>	
      </xs:restriction>
    </xs:simpleType>
</xs:schema>