AnomalyIntention.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- 
	Generated by Universidad Politecnica de Madrid (UPM) - 2023.   
-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" 
            elementFormDefault="qualified"
            xmlns:anomintention="https://raw.githubusercontent.com/AI-ARC/AIARC-Data-model-v1/main/AnomalyIntention"
 			      targetNamespace="https://raw.githubusercontent.com/AI-ARC/AIARC-Data-model-v1/main/AnomalyIntention">
    <!-- AnomalyIntention -->
    <xs:complexType name="AnomalyIntention">
      <xs:annotation>
        <xs:documentation>The class AnomalyIntention is a new class defined by AI-ARC project.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
        <xs:element name="PriorityLevel" type="anomintention:PriorityLevelType" minOccurs="0"/>
        <xs:element name="PossibleIntents" type="anomintention:PossibleIntentsType" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
    <!-- PriorityLevelType -->
    <xs:simpleType name="PriorityLevelType">
      <xs:annotation>
        <xs:documentation>The qualitative level of priority associated with the incident, anomaly, or risk defined by the AI-ARC project.</xs:documentation>
      </xs:annotation>
      <xs:restriction base="xs:string">
        <xs:enumeration value="VeryHigh">
          <xs:annotation>
            <xs:documentation xml:lang="en">very high. DESCRIPTION: Very high</xs:documentation>
          </xs:annotation>
        </xs:enumeration>
        <xs:enumeration value="High">
          <xs:annotation>
            <xs:documentation xml:lang="en">high. DESCRIPTION: High</xs:documentation>
          </xs:annotation>
        </xs:enumeration>
        <xs:enumeration value="Medium">
          <xs:annotation>
            <xs:documentation xml:lang="en">medium. DESCRIPTION: Medium</xs:documentation>
          </xs:annotation>
        </xs:enumeration>
        <xs:enumeration value="Low">
          <xs:annotation>
            <xs:documentation xml:lang="en">low. DESCRIPTION: Low</xs:documentation>
          </xs:annotation>
        </xs:enumeration>
        <xs:enumeration value="VeryLow">
          <xs:annotation>
            <xs:documentation xml:lang="en">very low. DESCRIPTION: Very low</xs:documentation>
          </xs:annotation>
        </xs:enumeration>
        <xs:enumeration value="Other">
          <xs:annotation>
            <xs:documentation xml:lang="en">other. DESCRIPTION: Other</xs:documentation>
          </xs:annotation>
        </xs:enumeration>	
      </xs:restriction>
    </xs:simpleType>
  <!-- PossibleIntentsType -->
    <xs:complexType name="PossibleIntentsType">
	    <xs:annotation>
		    <xs:documentation>List of IntentRecord.</xs:documentation>
	    </xs:annotation>
	    <xs:sequence>
        <xs:element name="IntentRecord" type="anomintention:IntentRecordType" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  <!-- IntentRecordType -->
  <xs:complexType name="IntentRecordType">
      <xs:annotation>
        <xs:documentation>The IntentRecordType is a new datatype defined by AI-ARC project for the Anomaly Prediction service.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
        <xs:element name="IntentType" type="anomintention:IntentDataType" minOccurs="0"/>
        <xs:element name="IntentProbability" type="xs:double" minOccurs="0"/>
        <xs:element name="IntentExplanation" type="xs:string" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  <!-- IntentDataType -->
    <xs:simpleType name="IntentDataType">
	    <xs:annotation>
		    <xs:documentation>...</xs:documentation>
	    </xs:annotation>
      <xs:restriction base="xs:string">
        <xs:enumeration value="Smuggling">
          <xs:annotation>
            <xs:documentation xml:lang="en">smuggling. DESCRIPTION: Smuggling</xs:documentation>
          </xs:annotation>
        </xs:enumeration>
        <xs:enumeration value="FishingCrime">
          <xs:annotation>
            <xs:documentation xml:lang="en">fishing crime. DESCRIPTION: Fishing crime</xs:documentation>
          </xs:annotation>
        </xs:enumeration>
        <xs:enumeration value="EnvironmentalCrime">
          <xs:annotation>
            <xs:documentation xml:lang="en">environmental crime. DESCRIPTION: Environmental crime</xs:documentation>
          </xs:annotation>
        </xs:enumeration>
        <xs:enumeration value="InfrastructureThreat">
          <xs:annotation>
            <xs:documentation xml:lang="en">infrastructure threat. DESCRIPTION: Infrastructure threat</xs:documentation>
          </xs:annotation>
        </xs:enumeration>
        <xs:enumeration value="NonMalicious">
          <xs:annotation>
            <xs:documentation xml:lang="en">non malicious. DESCRIPTION: Non malicious</xs:documentation>
          </xs:annotation>
        </xs:enumeration>	
      </xs:restriction>
    </xs:simpleType>
</xs:schema>