IcepacksPrediction.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- 
	Generated by Universidad Politecnica de Madrid (UPM) - 2023.
-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
			elementFormDefault="qualified"
			xmlns:ice="https://raw.githubusercontent.com/lisshernandez/DMTest/main/IcepacksPrediction"
 			targetNamespace="https://raw.githubusercontent.com/lisshernandez/DMTest/main/IcepacksPrediction">
	<!-- IcepacksPrediction -->
	<xs:complexType name="IcepacksPrediction">
		<xs:annotation>
			<xs:documentation>This class allows the description of the meteorological oceanographic condition of a given Location.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="IceThickness" type="xs:double"  minOccurs="0" />
			<xs:element name="IceThicknessConfidence" type="xs:double"  minOccurs="0" />
			<xs:element name="IceClass" type="ice:IceClassDataType" minOccurs="0" />
			<xs:element name="OccurenceConfidence" type="xs:double"  minOccurs="0" />
			<xs:element name="PredictionTime" type="xs:dateTime" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>
	<!-- IceClassDataType -->
	<xs:simpleType name="IceClassDataType">
		<xs:annotation>
			<xs:documentation>This enumeration refers to the Finnish ice classes.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="Openwater">
				<xs:annotation>
					<xs:documentation xml:lang="en">openwater. DESCRIPTION: openwater</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="IceClassIA">
				<xs:annotation>
					<xs:documentation xml:lang="en">iceclassia. DESCRIPTION: iceclassia</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="IceClassIB">
				<xs:annotation>
					<xs:documentation xml:lang="en">iceclassib. DESCRIPTION: iceclassib</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="IceClassIC">
				<xs:annotation>
					<xs:documentation xml:lang="en">iceclassic. DESCRIPTION: iceclassic</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="IceBerg">
				<xs:annotation>
					<xs:documentation xml:lang="en">iceberg. DESCRIPTION: iceberg</xs:documentation>
				</xs:annotation>
			</xs:enumeration>		
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
