Reliability.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- 
	Generated by Universidad Politecnica de Madrid (UPM) - 2023.
-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" 
			elementFormDefault="qualified"
			xmlns:rel="https://raw.githubusercontent.com/lisshernandez/DMTest/main/Reliability"
 			targetNamespace="https://raw.githubusercontent.com/lisshernandez/DMTest/main/Reliability">
 <!-- Reliability -->
    <xs:complexType name="Reliability">
		<xs:annotation>
			<xs:documentation>The class Reliability is a new class defined by AI-ARC project, based on data involved in the Reliability Assessment service.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ReliabilityScore" type="xs:double" minOccurs="0"/>
			<xs:element name="ReliabilityMessage" type="xs:string" minOccurs="0"/>
			<xs:element name="InvolvedServiceData" type="rel:InvolvedServiceDataType" minOccurs="0"/>
			<xs:element name="ReliabilityMetrics" type="rel:ReliabilityMetricsType" minOccurs="0"/> 
		</xs:sequence>
    </xs:complexType>
 <!-- InvolvedServiceDataType -->
	<xs:complexType name="InvolvedServiceDataType">
		<xs:sequence>
			<xs:element name="Identifier" type="xs:string" minOccurs="0"/> <!--Reference to the AI-ARC service analized by the RA service. The reference and link is made through the UniqueIdentifier of the service message.-->
			<xs:element name="EventInputData" type="xs:base64Binary" minOccurs="0"/> <!--The data that is actually being processed by the model of a service.-->
			<xs:element name="EventMetaData" type="xs:base64Binary" minOccurs="0"/> <!--Refers to metadata outputs of the model (e.g. activation of the nodes in a neural network). e.g. dict/list/array-->
			<xs:element name="ModelTrainingData" type="xs:base64Binary" minOccurs="0"/> <!--e.g. list/array-->
			<xs:element name="ModelTrainingMetrics" type="xs:base64Binary" minOccurs="0"/> <!--e.g. loss, number of epochs.-->
			<xs:element name="ModelValidationData" type="xs:base64Binary" minOccurs="0"/> <!--e.g. list/array-->
			<xs:element name="ModelSerializedFiles" type="xs:base64Binary" minOccurs="0"/> <!--Refers to the serialized and trained files of the model. e.g. open neural network exchange (ONNX) file-->
			<xs:element name="ReferenceURI" type="xs:anyURI" minOccurs="0"/> <!--e.g. the API of a ML model-->
		</xs:sequence>
	</xs:complexType>
 <!-- ReliabilityMetricsType -->
	<xs:complexType name="ReliabilityMetricsType">
		<xs:sequence>
			<xs:element name="S_train" type="xs:double" minOccurs="0"/> <!--Metric value for the reliability score. e.g. 0.63-->
			<xs:element name="S_distance" type="xs:double" minOccurs="0"/> <!--Metric value for the reliability score. e.g. 0.73-->
			<xs:element name="S_xAI" type="xs:double" minOccurs="0"/> <!--Metric value for the reliability score. e.g. 0.93-->
			<xs:element name="Other" type="xs:base64Binary" minOccurs="0"/> <!--Other metric value. e.g. image layer or just a table of attributes and numbers-->
			<xs:element name="s_trainDescription" type="xs:string" minOccurs="0"/> <!--Explanation of metric-->
			<xs:element name="s_distanceDescription" type="xs:string" minOccurs="0"/> <!--Explanation of metric-->
			<xs:element name="s_xAIDescription" type="xs:string" minOccurs="0"/> <!--Explanation of metric-->
			<xs:element name="OtherDescription" type="xs:string" minOccurs="0"/> <!--Explanation of metric-->
		</xs:sequence>
	</xs:complexType>
</xs:schema>
