RiskPrediction.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- 
	Generated by Universidad Politecnica de Madrid (UPM) - 2023.   
-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" 
            elementFormDefault="qualified"
            xmlns:risk="https://raw.githubusercontent.com/AI-ARC/AIARC-Data-model-v1/main/RiskPrediction"
 			      targetNamespace="https://raw.githubusercontent.com/AI-ARC/AIARC-Data-model-v1/main/RiskPrediction">
  <!-- RiskPrediction -->
    <xs:complexType name="RiskPrediction">
      <xs:annotation>
        <xs:documentation>The class RiskPrediction is a new class defined by AI-ARC project. It's related to the risk prediction service.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
        <xs:element name="RiskDescription" type="xs:string" minOccurs="0"/>  <!-- An explanation for the risk predicted. E.g.: This represents a cumulative risk assessment that includes factors such as Collision, Manoeuvrability, and Visibility. -->
        <xs:element name="RiskDetails" type="xs:string" minOccurs="0"/>  <!-- Information of the vessels involved. E.g.: There is a risk of collision between vessel with mmsi 231010000 and vessel with mmsi 231009000. -->
      </xs:sequence>
    </xs:complexType>
</xs:schema>