Surveillance.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- 
	Generated by Universidad Politecnica de Madrid (UPM) - 2022.
-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" 
            elementFormDefault="qualified" 
            xmlns:sur="https://raw.githubusercontent.com/lisshernandez/DMTest/main/Surveillance" 
            targetNamespace="https://raw.githubusercontent.com/lisshernandez/DMTest/main/Surveillance">
  <!-- Surveillance -->
    <xs:complexType name="Surveillance">
      <xs:annotation>
        <xs:documentation>The class AIArcSurveillance is a new class defined by AI-ARC project.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
        <xs:element name="Name" type="xs:string" minOccurs="0"/> 
        <xs:element name="SurveillanceType" type="sur:SurveillanceDataType" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  <!-- SurveillanceDataType -->
    <xs:simpleType name="SurveillanceDataType">
      <xs:annotation>
        <xs:documentation>This enumeration presents the different types of surveillance defined by AI-ARC project.</xs:documentation>
      </xs:annotation>
      <xs:restriction base="xs:string">
        <xs:enumeration value="Restricted Area">
          <xs:annotation>
            <xs:documentation xml:lang="en">restricted area. DESCRIPTION: restricted area</xs:documentation>
          </xs:annotation>
        </xs:enumeration>
        <xs:enumeration value="No fishing">
          <xs:annotation>
            <xs:documentation xml:lang="en">no fishing. DESCRIPTION: no fishing</xs:documentation>
          </xs:annotation>
        </xs:enumeration>
        <xs:enumeration value="Retracted">
          <xs:annotation>
            <xs:documentation xml:lang="en">retracted. DESCRIPTION: retracted</xs:documentation>
          </xs:annotation>
        </xs:enumeration>
        <xs:enumeration value="Other">
          <xs:annotation>
            <xs:documentation xml:lang="en">other. DESCRIPTION: other</xs:documentation>
          </xs:annotation>
        </xs:enumeration>
        <xs:enumeration value="Unspecified">
          <xs:annotation>
            <xs:documentation xml:lang="en">unspecified. DESCRIPTION: Unspecified</xs:documentation>
          </xs:annotation>
        </xs:enumeration>		
      </xs:restriction>
    </xs:simpleType>
</xs:schema>
