VesselPrediction.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- 
	Generated by Universidad Politecnica de Madrid (UPM) - 2023.   
-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" 
            elementFormDefault="qualified"
            xmlns:ves="https://raw.githubusercontent.com/lisshernandez/DMTest/main/VesselPrediction"
 			      targetNamespace="https://raw.githubusercontent.com/lisshernandez/DMTest/main/VesselPrediction">
  <!-- VesselPrediction -->
    <xs:complexType name="VesselPrediction">
      <xs:annotation>
        <xs:documentation>The class VesselPrediction is a new class defined by AI-ARC project. It's a sub-class of the class Vessel and is related to the vessel traffic prediction service</xs:documentation>
      </xs:annotation>
      <xs:sequence>
        <xs:element name="PredictionAccuracy" type="xs:double" minOccurs="0"/>
        <xs:element name="ExplanationMessage" type="xs:string" minOccurs="0"/>
        <xs:element name="PredictionTime" type="xs:dateTime" minOccurs="0" />
      </xs:sequence>
    </xs:complexType>
</xs:schema>