anomalyprediction/AnomalyPrediction.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- 
	Generated by Universidad Politecnica de Madrid (UPM) - 2023.   
-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.ai-arc.eu/datamodel/v1/anomalyprediction/" xmlns:anomalyprediction="http://www.ai-arc.eu/datamodel/v1/anomalyprediction/" >
 <xs:complexType name="AnomalyPrediction">
  <xs:annotation>
   <xs:documentation>The class AnomalyPrediction is a new class defined by AI-ARC project.</xs:documentation>
  </xs:annotation>
  <xs:complexContent>
    <xs:sequence>
     <xs:element name="AIArcAnomalyType" type="anomalyprediction:AIArcAnomalyDataType" minOccurs="0"/>
     <xs:element name="AnomalyScore" type="xs:double" minOccurs="0"/>
     <xs:element name="Explanation" type="xs:string" minOccurs="0"/>
     <xs:element name="PriorityLevel" type="anomalyprediction:PriorityLevelType" minOccurs="0"/>
     <xs:element name="Confidence" type="anomalyprediction:ConfidenceType" minOccurs="0"/>
     <xs:element name="SourceReliabilityLevel" type="anomalyprediction:SourceReliabilityLevelType" minOccurs="0"/>
     <xs:element name="PossibleIntents" type="anomalyprediction:IntentVectorType" minOccurs="0"/>
    </xs:sequence>
  </xs:complexContent>
 </xs:complexType>
</xs:schema>