anomalyprediction/IntentRecordType.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- 
	Generated by Universidad Politecnica de Madrid (UPM) - 2023.
-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.ai-arc.eu/datamodel/v1/anomalyprediction/" xmlns:anomalyprediction="http://www.ai-arc.eu/datamodel/v1/anomalyprediction/" >
 <xs:complexType name="IntentRecordType">
  <xs:annotation>
   <xs:documentation>The IntentRecordType is a new datatype defined by AI-ARC project for the Anomaly Prediction service.</xs:documentation>
  </xs:annotation>
  <xs:complexContent>
    <xs:sequence>
     <xs:element name="IntentType" type="anomalyprediction:IntentDataType" minOccurs="0"/>
     <xs:element name="IntentProbability" type="xs:double" minOccurs="0"/>
     <xs:element name="IntentExplanation" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexContent>
 </xs:complexType>
</xs:schema>