reliability/MetricsDataType.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- 
	Generated by Universidad Politecnica de Madrid (UPM) - 2022.
-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.ai-arc.eu/datamodel/v1/reliability/" xmlns:reliability="http://www.ai-arc.eu/datamodel/v1/reliability/" >
 
 <xs:complexType name="MetricsDataType">
  <xs:annotation>
   <xs:documentation>The MetricsData is a new datatype defined by AI-ARC project, based on data involved in the Reliability Assessment service.</xs:documentation>
  </xs:annotation>
  <xs:complexContent>
    <xs:sequence>
     <xs:element name="S_train" type="xs:double" minOccurs="0"/> <!--Metric value for the reliability score. e.g. 0.63-->
     <xs:element name="S_distance" type="xs:double" minOccurs="0"/> <!--Metric value for the reliability score. e.g. 0.73-->
     <xs:element name="S_xAI" type="xs:double" minOccurs="0"/> <!--Metric value for the reliability score. e.g. 0.93-->
     <xs:element name="Other" type="xs:base64Binary" minOccurs="0"/> <!--Other metric value. e.g. image layer or just a table of attributes and numbers-->
     <xs:element name="s_trainDescription" type="xs:string" minOccurs="0"/> <!--Explanation of metric-->
     <xs:element name="s_distanceDescription" type="xs:string" minOccurs="0"/> <!--Explanation of metric-->
     <xs:element name="s_xAIDescription" type="xs:string" minOccurs="0"/> <!--Explanation of metric-->
     <xs:element name="OtherDescription" type="xs:string" minOccurs="0"/> <!--Explanation of metric-->
    </xs:sequence>
  </xs:complexContent>
 </xs:complexType>
</xs:schema>