reliability/Reliability.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- 
	Generated by Universidad Politecnica de Madrid (UPM) - 2022.
-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.ai-arc.eu/datamodel/v1/reliability/" xmlns:reliability="http://www.ai-arc.eu/datamodel/v1/reliability/" >
 
 <xs:include schemaLocation="ServiceDataType.xsd"/>
 <xs:include schemaLocation="MetricsDataType.xsd"/>
 <xs:complexType name="Reliability">
  <xs:annotation>
   <xs:documentation>The class Reliability is a new class defined by AI-ARC project, based on data involved in the Reliability Assessment service.</xs:documentation>
  </xs:annotation>
  <xs:complexContent>
    <xs:sequence>
     <xs:element name="InvolvedServiceData" type="reliability:ServiceDataType" minOccurs="0"/>
     <xs:element name="ReliabilityScore" type="xs:double" minOccurs="0"/>
     <xs:element name="ReliabilityMessage" type="xs:string" minOccurs="0"/>
     <xs:element name="ReliabilityMetrics" type="reliability:MetricsDataType" minOccurs="0"/> 
    </xs:sequence>
  </xs:complexContent>
 </xs:complexType>
</xs:schema>
