reliability/ServiceDataType.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- 
	Generated by Universidad Politecnica de Madrid (UPM) - 2022.
-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.ai-arc.eu/datamodel/v1/reliability/" xmlns:reliability="http://www.ai-arc.eu/datamodel/v1/reliability/" >
 
 <xs:complexType name="ServiceDataType">
  <xs:annotation>
   <xs:documentation>The ServiceData is a new datatype defined by AI-ARC project, based on data involved in the Reliability Assessment service.</xs:documentation>
  </xs:annotation>
  <xs:complexContent>
    <xs:sequence>
     <xs:element name="Identifier" type="uniqueidentifier:UniqueIdentifier" minOccurs="0"/> <!--Reference to the AI-ARC service analized by the RA service. The reference and link is made through the UniqueIdentifier of the service message.-->
     <xs:element name="EventInputData" type="xs:base64Binary" minOccurs="0"/> <!--The data that is actually being processed by the model of a service.-->
     <xs:element name="EventMetaData" type="xs:base64Binary" minOccurs="0"/> <!--Refers to metadata outputs of the model (e.g. activation of the nodes in a neural network). e.g. dict/list/array-->
     <xs:element name="ModelTrainingData" type="xs:base64Binary" minOccurs="0"/> <!--e.g. list/array-->
     <xs:element name="ModelTrainingMetrics" type="xs:base64Binary" minOccurs="0"/> <!--e.g. loss, number of epochs.-->
     <xs:element name="ModelValidationData" type="xs:base64Binary" minOccurs="0"/> <!--e.g. list/array-->
     <xs:element name="ModelSerializedFiles" type="xs:base64Binary" minOccurs="0"/> <!--Refers to the serialized and trained files of the model. e.g. open neural network exchange (ONNX) file-->
     <xs:element name="ReferenceURI" type="xs:anyURI" minOccurs="0"/> <!--e.g. the API of a ML model-->
    </xs:sequence>
  </xs:complexContent>
 </xs:complexType>
</xs:schema>