vesselprediction/VesselPrediction.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- 
	Generated by Universidad Politecnica de Madrid (UPM) - 2022.   
-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.ai-arc.eu/datamodel/v1/vesselprediction/" xmlns:vesselprediction="http://www.ai-arc.eu/datamodel/v1/vesselprediction/" >
 <xs:complexType name="VesselPrediction">
  <xs:annotation>
   <xs:documentation>The class VesselPrediction is a new class defined by AI-ARC project. It's a sub-class of the class Vessel and is related to the vessel traffic prediction service</xs:documentation>
  </xs:annotation>
  <xs:complexContent>
    <xs:sequence>
     <xs:element name="PredictionAccuracy" type="xs:double" minOccurs="0"/>
     <xs:element name="ExplanationMessage" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexContent>
 </xs:complexType>
</xs:schema>