surveillance/Surveillance.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- 
	Generated by Universidad Politecnica de Madrid (UPM) - 2022.
-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.ai-arc.eu/datamodel/v1/surveillance/" xmlns:surveillance="http://www.ai-arc.eu/datamodel/v1/surveillance/" >
 
 <xs:include schemaLocation="SurveillanceType.xsd"/>
 <xs:complexType name="Surveillance">
  <xs:annotation>
   <xs:documentation>The class AIArcSurveillance is a new class defined by AI-ARC project.</xs:documentation>
  </xs:annotation>
  <xs:complexContent>
    <xs:sequence>
     <xs:element name="Name" type="xs:string" minOccurs="0"/> 
     <xs:element name="SurveillanceType" type="surveillance:SurveillanceType" minOccurs="0"/>
    </xs:sequence>
  </xs:complexContent>
 </xs:complexType>
</xs:schema>
